# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Terraform lock file
# Keep this committed if you want reproducible provider versions
# .terraform.lock.hcl